@import url(https://fonts.googleapis.com/css?family=Inconsolata:400,700&subset=latin,latin-ext);
html  {
    -webkit-font-smoothing: antialiased; 
    background-image: url('images/bg.png');
    //background: black;
    background-attachment: fixed;
    no-repeat center; center; fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100%;
    font-family: Inconsolata, "Inconsolata Fallback", "Bitstream Vera Sans Mono", Consolas, Courier, monospace;

}




body {
    overflow:hidden;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* IE/Edge */
    user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -o-user-select: none;
    outline: 0;
}

#card1 {

    padding-left: 10px;
    padding-right: 10px; 
    padding-top: 10px;
    padding-bottom: 10px; 
    border: 2px solid #009966;
    vertical-align: middle;
    float: left;
    margin: 40px auto; 
   //position: relative;
    max-width:350px;
    font-size: 10pt;
    font-family: Inconsolata, "Inconsolata Fallback", "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
    //    color: green;
    color: #009966;
    //color: #FF0000;
/*    line-height: 14pt;
    padding-left: 40px;
    padding-right: 40px; 
    padding-top: 65px;
    padding-bottom: 110px; */
    //background-image: url(testbg.gif);

    margin-left:40px;
    margin-top:65px;
}
#card2 {
    padding-left: 10px;
    padding-right: 10px; 
    padding-top: 10px;
    padding-bottom: 10px; 
    border: 2px solid #009966;
    vertical-align: middle;
    float: right;
    margin: 40px auto; 
   //position: relative;
    max-width:350px;
    font-size: 10pt;
    font-family: Inconsolata, "Inconsolata Fallback", "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
    //    color: green;
    color: #009966;
    //color: #FF0000;
/*    line-height: 14pt;
    padding-left: 40px;
    padding-right: 40px; 
    padding-top: 65px;
    padding-bottom: 110px; */
    //background-image: url(testbg.gif);

    margin-right:40px;
    margin-left:40px;
    margin-top:65px;
}

h1 {
   color: #009966;
    //        color:  rgb(0,255,0);
    //color: rgb(50,205,50);
    //color: #006600;
}
p {
    color:black;
    background-color: #009966;
    //        color:  rgb(0,255,0);
    //color: rgb(50,205,50);
    //color: #006600;
}

img {
    //   max-width: 100%;
    //    height: auto;
    //    width: auto\9; /* ie8 */
    font-size: 0;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */
    -khtml-user-select: none;
    -o-user-select: none;
    outline: 0;
    margin:0;
    padding:0;
}

a {
    //   max-width: 100%;
    //    height: auto;
    //    width: auto\9; /* ie8 */
    //font-size: 0;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */
    -khtml-user-select: none;
    -o-user-select: none;
    outline: 0;
    margin:0;
    padding:0;
}

a:link {color: black; background: rgba(255, 255, 255);}      /* unvisited link */
a:visited { color:black; background: rgba(255, 255, 255);}  /* visited link */
a:hover {color: #009966; background: black;}  /* selected link */
a:active {color: #009966; background: black;}  /* selected link */

::selection {
    background: grey; /* Safari */
}

::-moz-selection {
    background: rgba(255, 255, 255, 0.1);
}



.draggable {
    //width: 140px;
    //height: 140px;

    border-radius: 10px;
   margin: 0 10px 10px 0;
  float: left; 
}
.draggable.is-pointer-down {
    //background: #09F;
    z-index: 2; /* above other draggies */
}

.draggable.is-dragging {
    //opacity: 0.7;
}

.container {
   border: 5px solid #009966;
       min-width: 100%;
           min-height: 100vh;
}

#divA
{
  border:1px solid blue; 
}

#divB
{
  float:right;
  border:1px solid red;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0; 
    border-color: inherit ;
}

