@font-face {
  font-family: "console";
  src: url("Web_ToshibaSat_9x16.woff") format('woff');
  font-display: swap;
}

html  {
    -webkit-font-smoothing: antialiased;
    //background-image: url('images/bg2.png');
    background: black;
    background-attachment: fixed;
    no-repeat center; center; fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: "console", "monospace", "Consolas", "Courier";
    min-height: 100%;
    text-shadow: 0px 0px 1px;

}

body {
    // overflow:hidden;
    overflow-y: scroll;
overflow-x: hidden;

}


#header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    color: black;
    //height: 35px;
    //  text-align: center;
    // padding-top: 15px;
    /* Adds shadow to the bottom of the bar */
    /*-webkit-box-shadow: 0px 0px 8px 0px #000000;
    -moz-box-shadow: 0px 0px 8px 0px #000000;
    box-shadow: 0px 0px 8px 0px #000000;*/
    /* Adds the transparent background */
    background-color: #009966;
    z-index: 1000;
    // color: rgba(1, 1, 1, 0.8);
    font-size: 2vh;
    box-shadow: 0 0 5px #009966;
}


#footer {
    position: fixed;
    bottom: 0;
    // min-height: 100%;
    right: 0;
    left: 0;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    color: black;
    //height: 35px;
  //  text-align: center;
    // padding-top: 15px;
    /* Adds shadow to the bottom of the bar */
    /*-webkit-box-shadow: 0px 0px 8px 0px #000000;
    -moz-box-shadow: 0px 0px 8px 0px #000000;
    box-shadow: 0px 0px 8px 0px #000000;*/
    /* Adds the transparent background */
    background-color: #009966;
    z-index: 1000;
    // color: rgba(1, 1, 1, 0.8);
    font-size: 2vh;
    box-shadow: 0 0 5px #009966;
}


.move { cursor: move; }


body {
    padding: 10px
}


#card1 {
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
  //  padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #009966;
    vertical-align: middle;
    float: left;
    //margin: 40px auto;
    //position: relative;
//    max-width:350px;
    font-size: 2vh;
    font-family: "console", "monospace", "Consolas", "Courier";
      //    color: green;
    color: #009966;
    //color: #FF0000;
/*    line-height: 14pt;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 65px;
    padding-bottom: 110px; */
    margin-left:10px;
    margin-top:20px;
   // margin-right:20px;
    background-color: black;
    //background-image: url('http://www.wittworksproductions.com/gallery/web/scan_lines/evenBG.gif');
    //    background-image: url('images/scanbg.gif');
    border-radius: 1px;

   }

#card2 {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px solid #009966;
    vertical-align: middle;
    float: right;
    margin: 40px auto;
    //position: relative;
    max-width:350px;
    font-size: 10pt;
    font-family: "console", "monospace", "Consolas", "Courier";
    //    color: green;
    color: #009966;
    //color: #FF0000;
    /*    line-height: 14pt;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 65px;
    padding-bottom: 110px; */
    margin-right:40px;
    margin-left:40px;
    margin-top:65px;
}

h1 {
    color: #009966;
      //        color:  rgb(0,255,0);
    //color: rgb(50,205,50);
    //color: #006600;


}
p {
    color:black;
    background-color: #009966;
    //        color:  rgb(0,255,0);
    //color: rgb(50,205,50);
    //color: #006600;
    box-shadow: 0 0 2px #009966;
}



img {
    //   max-width: 100%;
    //    height: auto;
    //    width: auto\9; /* ie8 */
    font-size: 0;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */
    -khtml-user-select: none;
    -o-user-select: none;
    outline: 0;
    margin:0;
    padding:0;

}
a {
    //   max-width: 100%;
    //    height: auto;
    //    width: auto\9; /* ie8 */
    //font-size: 0;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */
    -khtml-user-select: none;
    -o-user-select: none;
    outline: 0;
    margin:0;
    padding:0;
}

a:link {color: black; background: #009966;}      /* unvisited link */
a:visited { color:black; background: #009966;}  /* visited link */
a:hover {color: #009966; background: black;}  /* selected link */
a:active {color: #009966; background: black;}  /* selected link */

::selection {
    background: grey; /* Safari */
}

::-moz-selection {
    background: rgba(255, 255, 255, 0.1);
}

.draggable {
    max-width:350px;
    //max-height: 200px;
    border-radius: 10px;
    //margin: 0 10px 10px 0;
    float: left;
}
.draggable.is-pointer-down {
    //background: #09F;
    z-index: 1; /* above other draggies */
}

.draggable.is-dragging {
    //opacity: 0.7;
}


.container {
   border: 5px solid #009966;
   min-width: 100%;
   min-height: 100vh;
}

hr {
   display: block;
   height: 1px;
   border: 0;
   border-top: 1px solid #ccc;
   margin: 1em 0;
   padding: 0;
   border-color: inherit ;
}


.dropbtn {
    font-family: "console", "monospace", "Consolas", "Courier";
    background-color: #009966;
    //  color: white;
    overflow: hidden;
    font-size: 2vh;
    padding: 2px;
    //font-size: 16px;
    border: none;
    cursor: pointer;
    //    opacity: .8;
    z-index: 50;
    //    color: #0F0;
    text-shadow: 0px 0px 1px;
    //    text-transform:uppercase;
    outline: 0;

}

.dropdown {
    position: relative;
    display: inline-block;

}

.dropdown-content {
    font-family: "console", "monospace", "Consolas", "Courier";
    display: none;
    position: absolute;
    background-color: #009966;
    //min-width: 100%;
    box-shadow: 0 0 2px #009966;
}

.dropdown-content a {
    color: black;

    text-decoration: none;
    display: block;
}

.dropdown-content  a:hover {
    background-color: black;
    color: #009966;
    font-family: "console", "monospace", "Consolas", "Courier";
}

.dropdown:hover .dropdown-content {
    font-family: "console", "monospace", "Consolas", "Courier";
    display: block;
    position: fixed;
    //top: 0;
    //right: 0;
    //left: 0;
    //width: 100%;
    // white-space: nowrap;
    overflow: hidden;
    color: black;
   //height: 35px;
   //  text-align: center;
   // padding-top: 15px;
   /* Adds shadow to the bottom of the bar */
   /*-webkit-box-shadow: 0px 0px 8px 0px #000000;
    -moz-box-shadow: 0px 0px 8px 0px #000000;
    box-shadow: 0px 0px 8px 0px #000000;*/
   /* Adds the transparent background */
   background-color: #009966;
   z-index: 1000;
   // color: rgba(1, 1, 1, 0.8);
   font-size: 2vh;
}

.dropdown:hover .dropbtn {
    background-color: black;
    color: #009966;
    font-family: "console", "monospace", "Consolas", "Courier";
}

#line {
    position: relative;
    top: 0px;
    left:0px;
    width: 100%;
    height: 2px;
    //    background: #0F0;
    background: #009966;
    opacity: 0.2;
    z-index: 100;
    //text-shadow: 0px 0px 20px;
    box-shadow: 10px 10px 5px #009966;

}

#dot {
    position: relative;
    left: 10px;
    width: 20px;
    height: 2px;
    background: #000;
    opacity: 1;
}

#cover {
    background-image: url('images/scanbg.gif');
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 200px;
}

#content {
    //    margin:100px 20px 0px 20px;
    position: relative;
//    opacity: .8;
    z-index: 50;
    //    color: #0F0;
    //text-shadow: 0px 0px 20px;
//    text-transform:uppercase;
}

[contenteditable="true"] {
   outline: none;
}


element:hover, element:active {
-webkit-tap-highlight-color: rgba(0,0,0,0);
-webkit-user-select: none;
-webkit-touch-callout: none /*only to disable context menu on long press*/
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
